*{
    padding: 0;
    margin: 0;
    text-decoration:none ;
    list-style: none;
}
.cabeza{
    width: 100%;
    height: 12%;
    z-index: 99;
    border-bottom: 2px solid #000;
    background-color: rgb(255, 255, 255);
    position: fixed;
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    position: relative;
    top:1%;
    left: 40%;
    font-size: 200%;
    text-align: center;
    color: rgb(99, 47, 148);
}
main{
    height: 100%;
    width: 100%;
    background-color: rgb(230, 248, 248);
}
.listaMarcas{
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 1;
    top: 12%;
    height: 9vh;
    width: 100vw;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
}
.marca{
    height: 9vh;
    width: 10vw;
    position: relative;
    top: 0%;
}
.carousel {
    display: block;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 30%;
    left: 8%;
   
  }
  .carousel-img {
    display: block;
    width: 40vw;
    height: 50vh;
    position: relative;
    top: -23%;
  }
  .active {
    display: block;
  }
  .carousel-btn {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    justify-content: space-evenly;
    
  }
  .prev {
    left: 15%;
  }
  
  .next {
    right: 15%;
  }
  .carousel a{
    position: relative;
    display: inline-block;
    overflow: hidden;
    top: 15%;
    left: 20%;

}
  .contenidoAMERICANINO {
    width: 50%; 
    margin: 20px;
  }
  .contenidomotherCare  {
    width: 50% ;
    margin: 20px;
  } 
  .contenidonafNaf  {
    width: 50% ;
    margin: 20px;
  } 
  .contenidochevignon  {
    width: 50% ;
    margin: 20px;
  } 
  .imagenRopaAMERICANINO {
    width: 15vw;
    height: auto;
  }
  
  .imagenRopamotherCare {
    width: 15vw;
    height: auto ;
  }
  .imagenRopanafNaf {
    width: 15vw;
    height: auto ;
  }
  .imagenRopachevignon {
    width: 15vw;
    height: auto ;
  }
  
  label {
    display: block;
  }
  
  .comprarAMERCANINO {
    margin-top: 5%;
    width:100%;
  }
  .comprarmotherCare {
    margin-top: 5%;
    width:100%;
  }
  .comprarnafNaf {
    margin-top: 5%;
    width:100%;
  }
  .comprarchevignon {
    margin-top: 5%;
    width:100%;
  }
  .RopasAMERICANINO{
    display: block;
    flex-wrap: wrap;
  }
  .RopasmotherCare{ 
    display: block;
    flex-wrap: wrap;
  }
  .RopasnafNaf { 
    display: block;
    flex-wrap: wrap;
  }
  .Ropaschevignon { 
    display: block;
    flex-wrap: wrap;
  }
  #AMERICANINO{
    display: flex;
    height: 100%;
    width: 0%;
    margin-left: 5%;
    margin-top: 10%;
  }
  #motherCare{
    display: flex;
    height: 100%;
    width: 0%;
    margin-left: 5%;
    margin-top: 10%;
  }
  #nafNaf{
    display: flex;
    height: 100%;
    width: 0%;
    margin-left: 5%;
    margin-top: 10%;

  }

  #chevignon{
    display: flex;
    height: 100%;
    width: 0%;
    margin-left: 5%;
    margin-top: 10%;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .informacion {
    margin-top: auto;
    background-color: #fff9f9;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
   border-top: solid 1px black;
  }
  .contactos {
    margin-bottom: 0px; /* Espacio entre los elementos */
  }


  